@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --color-primary: #c00000;
}

/*@media (prefers-color-scheme: dark) {*/
/*  :root {*/
/*    --foreground-rgb: 255, 255, 255;*/
/*    --background-start-rgb: 0, 0, 0;*/
/*    --background-end-rgb: 0, 0, 0;*/
/*  }*/
/*}*/

/*body {*/
/*  color: rgb(var(--foreground-rgb));*/
/*  background: linear-gradient(*/
/*      to bottom,*/
/*      transparent,*/
/*      rgb(var(--background-end-rgb))*/
/*    )*/
/*    rgb(var(--background-start-rgb));*/
/*}*/


*::selection {
    background-color: #c00000;
    color: white;
}

body {
    position: relative;
    background-color: black;
}


body.mobile-menu-open {
    max-height: 100%;
    overflow: hidden;
}

main {
    transition: 0.4s ease-out;
    right: 0;
    position: absolute;
    background-color: white;
    border-radius: 0;
    width: 100%;

    @media screen and (min-width: 768px) {
        width: 66%;
    }
}

body.mobile-menu-open > main {
    width: 600px;
    border-radius: 50px;
    top: 0;
    scale: 0;
    right: -600px;
    overflow: scroll;

    @media screen and (min-width: 300px) {
        right: -300px;
        scale: 0.4;
    }

    @media screen and (min-width: 400px) {
        scale: 0.6;
    }

    @media screen and (min-width: 768px) {
        scale: 1;
        right: 0;
        width: 66%;
        border-radius: 0;
    }
}

.header {
    display: flex;
    position: relative;
    width: 100%;
    align-items: center;
    flex-direction: column;

    @media screen and (min-width: 768px) {
        display: block;
        position: relative;
    }
}

.header__inner {
    display: none;

    @media screen and (min-width: 768px) {
        display: block;
        position: fixed;
        width: 100%;
        max-width: 33%;
        height: 100%;
        background-color: #000000;
        color: #fff;
    }
}
