.title-main__wrapper-outer {
    position: relative;
}

.title-main__wrapper-inner {
    position: relative;
    display: inline-block;
    /*overflow-x: hidden;*/
}

.line-decorative {
    position: absolute;
    bottom: -45px;
    left: 90px;
    width: 230px;

    @media screen and (min-width: 768px) {
        bottom: -40px;
        right: -40px;
        width: 400px;
    }
}

.title-main {
    margin: 0;
}
